﻿@model GtxApp.Models.Borrowedbook

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Borrowedbook</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bookid" class="control-label"></label>
                <select asp-for="Bookid" class ="form-control" asp-items="ViewBag.Bookid"></select>
            </div>
            <div class="form-group">
                <label asp-for="Customerid" class="control-label"></label>
                <select asp-for="Customerid" class ="form-control" asp-items="ViewBag.Customerid"></select>
            </div>
            <div class="form-group">
                <label asp-for="Borroweddate" class="control-label"></label>
                <input asp-for="Borroweddate" class="form-control" />
                <span asp-validation-for="Borroweddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Returndate" class="control-label"></label>
                <input asp-for="Returndate" class="form-control" />
                <span asp-validation-for="Returndate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ruser" class="control-label"></label>
                <input asp-for="Ruser" class="form-control" />
                <span asp-validation-for="Ruser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registereddate" class="control-label"></label>
                <input asp-for="Registereddate" class="form-control" />
                <span asp-validation-for="Registereddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
