﻿@model GtxApp.Models.Borrowedbook

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Borrowedbook</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Borroweddate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Borroweddate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Returndate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Returndate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ruser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ruser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Registereddate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Registereddate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
