﻿@using GtxApp.Models
@model List<Borrowedbook>


<h1>Borrowed Books List</h1>

<br />
<a asp-action="Create" class="btn btn-primary">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Book</th>
            <th>Customer</th>
            <th>Borrowed Date</th>
            <th>Returned Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;
            string backgroundColor = "";
        }
        @foreach (var item in Model)
        {
            @if (item.Status == "borrowed" && Convert.ToDateTime(item.Returndate).Date == DateTime.Now.Date)
            {
                backgroundColor = "bg-warning";
            }
            else
            {
                backgroundColor = "";
            }
            <tr class="@backgroundColor">
                <td>@counter</td>
                <td>@item.Book.Title</td>
                <td>
                    @($"{@item.Customer.Fullname} {@item.Customer.Mobile}")
                    
                </td>
                <td>@item.Borroweddate</td>
                <td>@item.Returndate</td>
                <td>
                    @if (item.Status == "returned")
                    {
                        <span class="badge bg-primary">Returned</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Borrowed</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>

            counter++;
        }
    </tbody>
</table>
