﻿@using GtxApp.Models
@model Book

<h2>Create New Book</h2>

<div class="row">
    <div class="col-md-6">

        <form method="post" asp-controller="Books" asp-action="Create">
            <div class="form-group">
                <label>Title</label>
                <input type="text" asp-for="Title" class="form-control" placeholder="Enter Book Title" />
            </div>

            <br />
            <div class="form-group">
                <label>Author</label>
                <input type="text" asp-for="Author" class="form-control" placeholder="Enter Author Name" />
            </div>

            <br />
            <div class="form-group">
                <label>Published</label>
                <input type="text" asp-for="Publisher" class="form-control" placeholder="Enter Publisher Name" />
            </div>


            <br />
            <div class="form-group">
                <label># of Copies</label>
                <input type="number" asp-for="Availablecopies" class="form-control" placeholder="Enter Available Copies" />

            </div>

            <br />
            <button type="reset" class="btn btn-danger">Reset</button>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>

    </div>
    <div class="col-md-6"></div>
</div>