﻿@using GtxApp.Models
@model Book

<h2>Confirmation: Do you want to DELETE this Book ?</h2>

<div class="row">
    <div class="col-md-6">

        <form method="post" asp-controller="Books" asp-action="Delete">
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <div class="form-group">
                <label>Title</label>
                <input type="text" disabled asp-for="Title" value="@Model.Title" class="form-control" placeholder="Enter Book Title" />
            </div>

            <br />
            <div class="form-group">
                <label>Author</label>
                <input type="text" asp-for="Author" disabled value="@Model.Author" class="form-control" placeholder="Enter Author Name" />
            </div>

            

            <br />
            <a class="btn btn-success" asp-action="Index">Back</a>
            <button type="submit" class="btn btn-danger">Yes, Delete</button>

        </form>

    </div>
    <div class="col-md-6"></div>
</div>