﻿@using GtxApp.Models
@model Customer

<h2>New Customer</h2>

<div style="margin-top:50px;">
    <div class="row">
        <div class="col-md-6">
            <form asp-controller="Customers" asp-action="Create" method="post">
                <div class="form-group">
                    <label>Fullname</label>
                    <input asp-for="Fullname" type="text" class="form-control" placeholder="Enter Customer Name" />
                </div>
                <br />

                <div class="form-group">
                    <label>Mobile</label>
                    <input asp-for="Mobile" type="text" class="form-control" placeholder="Enter Mobile" />
                </div>
                <br />
                <div class="form-group">
                    <label>Email</label>
                    <input asp-for="Email" type="email" class="form-control" placeholder="Enter Email" />
                </div>
                <br />
                <div class="form-group">
                    <label>Address</label>
                    <textarea asp-for="Address" class="form-control" rows="5"></textarea>
                </div>
                <br />
                <button type="reset" class="btn btn-danger">Reset</button>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
        <div class="col-md-6"></div>
    </div>
    
</div>