﻿@using GtxApp.Models
@model Customer

<h2>Confirmation: Do you want to DELETE this Customer?</h2>

<div style="margin-top:50px;">
    <div class="row">
        <div class="col-md-6">
            <form asp-controller="Customers" asp-action="Delete" method="post">
                <input type="hidden" asp-for="Id" value="@Model.Id" />
                <div class="form-group">
                    <label>Fullname</label>
                    <input asp-for="Fullname" value="@Model.Fullname" type="text" class="form-control" placeholder="Enter Customer Name" />
                </div>
               
                <br />
                <button type="submit" class="btn btn-danger">Yes, Delete</button>

            </form>
        </div>
        <div class="col-md-6"></div>
    </div>

</div>