﻿@using GtxApp.Models
@model Customer

<h2>Edit Customer</h2>

<div style="margin-top:50px;">
    <div class="row">
        <div class="col-md-6">
            <form asp-controller="Customers" asp-action="Edit" method="post">
                <input type="hidden" asp-for="Id" value="@Model.Id" />
                <div class="form-group">
                    <label>Fullname</label>
                    <input asp-for="Fullname" value="@Model.Fullname" type="text" class="form-control" placeholder="Enter Customer Name" />
                </div>
                <br />

                <div class="form-group">
                    <label>Mobile</label>
                    <input asp-for="Mobile" value="@Model.Mobile" type="text" class="form-control" placeholder="Enter Mobile" />
                </div>
                <br />
                <div class="form-group">
                    <label>Email</label>
                    <input asp-for="Email" value="@Model.Email" type="email" class="form-control" placeholder="Enter Email" />
                </div>
                <br />
                <div class="form-group">
                    <label>Address</label>
                    <textarea asp-for="Address" class="form-control" rows="5">@Model.Address</textarea>
                </div>
                <br />
                <button type="reset" class="btn btn-danger">Reset</button>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
        <div class="col-md-6"></div>
    </div>

</div>