﻿@using GtxApp.Models
@model List<Customer>


<h3>Customer List</h3>

<div style="margin-top:50px;">
    <a asp-controller="Customers" asp-action="Create" class="btn btn-primary">+ Add Customer</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @* The below code is loop that iterates data in the model above*@
            
            @foreach(var item in Model)
            {
                /*  Here We are creating 
                table rows  */
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Fullname</td>
                    <td>@item.Email</td>
                    <td>@item.Mobile</td>
                    <td>
                        <a class="btn btn-success" asp-controller="Customers" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-controller="Customers" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>

                
            }

        </tbody>
    </table>
</div>