﻿<h2>Login</h2>

<div class="row">
    <div class="col-md-6">

        <form method="post" asp-controller="Accounts" asp-action="login">
            <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" class="form-control" placeholder="Enter Username" />
            </div>

            <br />
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" placeholder="Enter Password" />
            </div>

            <br />
            

            <br />
            <button type="submit" class="btn btn-primary">Login</button>

        </form>

    </div>
    <div class="col-md-6"></div>
</div>